#experienceStudiesSection {
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-l);
  padding: 40px;
}
#titlesDiv {
  color: var(--font-terciary-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-xl);
  line-height: var(--font-line-heigth-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-xxl);
  padding-bottom: var(--padding-l);
}
.selected {
  color: var(--font-secondary-color);
  text-decoration-line: underline;
  text-underline-offset: 10px;
}

#contentDiv {
  color: var(--font-secondary-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-s);
  line-height: var(--font-line-heigth-m);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-xl);
  text-align: justify;
}

@media screen and (max-width: 600px) {
  #titlesDiv {
    font-size: var(--font-size-s);
    line-height: var(--font-line-heigth-m);
  }
}

@media screen and (min-width: 600px) and (max-width: 1440px) {
  #titlesDiv {
    font-size: var(--font-size-l);
    line-height: var(--font-line-heigth-l);
  }
}
