@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Inter, sans-serif;
  font-weight: 400; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --backgroung-header-footer-color: #2b024a;
  --background-primary-color: #ffffff;
  --background-secondary-color: #4b1a72;
  --background-terciary-color: #e4cff5;
  /* --background-quaternary-color: #e7e7e7; */
  --font-primary-color: #4b1a72;
  --font-secondary-color: #ffffff;
  --font-terciary-color: #e371ff;
  --font-size-xxl: 96px;
  --font-size-xl: 64px;
  --font-size-l: 48px;
  --font-size-m: 40px;
  --font-size-s: 24px;
  --font-size-xs: 20px;
  --font-size-xxs: 16px;
  --font-line-heigth-xxl: 116.18px;
  --font-line-heigth-xl: 77.45px;
  --font-line-heigth-l: 58.09px;
  --font-line-heigth-m: 48.41px;
  --font-line-heigth-s: 29.05px;
  --font-line-heigth-xs: 24.2px;
  --font-line-heigth-xxs: 19.36px;
  --font-weight-xxl: 900;
  --font-weight-xl: 800;
  --font-weight-l: 700;
  --font-weight-m: 600;
  --font-weight-s: 500;
  --font-weight-xs: 400;
  --border-radius-photo: 232px;
  /* --border-radius-xl: 60px; */
  --border-radius-l: 30px;
  --border-radius-m: 20px;
  --border-radius-s: 10px;
  /* --border-color: #dddddd; */
  --padding-xxl: 60px;
  --padding-xl: 40px;
  --padding-l: 30px;
  --padding-m: 20px;
  --padding-s: 10px;
  --padding-xs: 5px;
  --margin-xl: 40px;
  --margin-l: 30px;
  --margin-m: 20px;
  --margin-s: 10px;
  --margin-xs: 5px;
  --gap-xl: 40px;
  --gap-l: 30px;
  --gap-m: 20px;
  --gap-s: 10px;
  --gap-xs: 5px;
}
body {
  background-color: var(--background-primary-color);
}
header {
  background-color: var(--backgroung-header-footer-color);
  height: 20svh;
  width: 100%;
  border: 2px solid black;
}
#heroSection {
  background-color: var(--background-secondary-color);
  width: 100%;
  border: 2px solid black;
  padding: 138px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#heroTextDiv {
  width: 487px;
}
#heroTextDiv > p {
  color: var(--font-secondary-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-xl);
  line-height: var(--font-line-heigth-m);
}
#heroTextDiv > h1 {
  color: var(--font-terciary-color);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-xl);
  line-height: var(--font-line-heigth-xxl);
  margin: 40px 0px;
}
#heroTextDiv > h2 {
  color: var(--font-secondary-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-xl);
  line-height: var(--font-line-heigth-l);
}
#heroSection > img {
  width: 450px;
  height: 450px;
  border-radius: var(--border-radius-photo);
}
#aboutMeSection {
  /* height: 20svh; */
  width: 813px;
  margin: 80px;
  border: 2px solid black;
}
#aboutMeSection > h2 {
  color: var(--font-primary-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-xl);
  line-height: var(--font-line-heigth-xl);
}
#aboutMeSection > p {
  color: var(--font-primary-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-xl);
  line-height: var(--font-line-heigth-l);
  padding: 40px 0px;
}
#mySkillsSection {
  height: 20svh;
  width: 100%;
  border: 2px solid black;
}
#experienceStudiesSection {
  background-color: var(--background-secondary-color);
  height: 20svh;
  width: 100%;
  border: 2px solid black;
}
#projectsSection {
  height: 20svh;
  width: 100%;
  border: 2px solid black;
}
#contactSection {
  background-color: var(--background-terciary-color);
  height: 20svh;
  width: 100%;
  border: 2px solid black;
}
footer {
  background-color: var(--backgroung-header-footer-color);
  height: 20svh;
  width: 100%;
  border: 2px solid black;
}
