.interesetingsButton {
  width: 150px;
  height: 52px;
  background-color: transparent;
  color: var(--font-primary-color);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-s);
  line-height: var(--font-line-heigth-xs);
  border: 2px solid var(--form-border-color);
  padding: 0px var(--padding-m) 0px var(--padding-m);
  border-radius: var(--border-radius-s);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectedButton {
  background-color: var(--background-secondary-color);
  color: var(--font-secondary-color);
}
