#projectsSection {
  width: 100%;
  margin: var(--margin-m);
  margin-right: var(--margin-m);
}
#projectsSection > h2 {
  color: var(--font-primary-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-xl);
  line-height: var(--font-line-heigth-ss);
}

#projectsSection > h3 {
  color: var(--font-primary-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-xs);
  line-height: var(--font-line-heigth-m);
}
#projectsDiv {
  /* border: 2px solid black; */
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: var(--padding-m);
  gap: var(--gap-m);
  overflow-x: scroll;
  overflow-y: hidden;
}
/* width */
#projectsDiv::-webkit-scrollbar {
  width: 50px;
}
/* Track */
#projectsDiv::-webkit-scrollbar-track {
  background: var(--font-secondary-color);
}
/* Handle */
#projectsDiv::-webkit-scrollbar-thumb {
  background: var(--font-primary-color);
}

/* Handle on hover */
#projectsDiv::-webkit-scrollbar-thumb:hover {
  background: var(--font-secondary-color);
}
