#aboutMeSection {
  width: 75%;
  margin: 80px;
}
#aboutMeSection > h2 {
  color: var(--font-primary-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-xl);
  line-height: var(--font-line-heigth-xl);
}
#aboutMeSection > p {
  color: var(--font-primary-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-xl);
  line-height: var(--font-line-heigth-l);
  padding: 40px 0px;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  #aboutMeSection > h2 {
    text-align: center;
  }
  #aboutMeSection > p {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-ml);
    line-height: var(--font-line-heigth-m);
    text-align: center;
  }
}
@media (max-width: 600px) {
  #aboutMeSection {
    width: 90%;
    margin: 10px;
  }
  #aboutMeSection > h2 {
    text-align: center;
  }
  #aboutMeSection > p {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    line-height: var(--font-line-heigth-s);
    text-align: center;
  }
}
