.projectCardDiv {
  background-color: var(--background-terciary-color);
  min-width: 400px;
  max-width: 600px;
  border-radius: var(--border-radius-l);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap-s);
  padding: var(--padding-s);
}
.projectImage {
  width: 80%;
  margin: var(--margin-m);
  object-fit: cover;
  border-radius: var(--border-radius-m);
}
.projectCardDiv > h3 {
  color: var(--font-primary-color);
  font-size: (--font-size-s);
  font-weight: var(--font-weight-xl);
  line-height: var(--font-line-heigth-ss);
}
.projectCardDiv > p {
  width: 95%;
  height: 70px;
  color: var(--font-primary-color);
  font-size: (--font-size-xxs);
  font-weight: var(--font-weight-xs);
  line-height: var(--font-line-heigth-xxs);
  text-align: justify;
  padding: var(--padding-s);
}
.projectCardDiv > a {
  background-color: var(--background-secondary-color);
  width: 150px;
  color: var(--font-secondary-color);
  font-size: (--font-size-s);
  font-weight: var(--font-weight-s);
  line-height: var(--font-line-heigth-xs);
  text-align: center;
  border-radius: var(--border-radius-s);
}
