footer {
  background-color: var(--backgroung-header-footer-color);
  height: 10svh;
  width: 100%;
}
footer > p {
  color: var(--font-secondary-color);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-xs);
  line-height: var(--font-line-heigth-s);
  text-align: center;
  padding: var(--padding-l);
}
